<% require 'date' %>
<h1>Twitter</h1>
<% if flash[:notice] %>
  <p><font color="green"><%= flash[:notice] %></font></p>
<% end %>  
<% if flash[:update] %>
  <p><font color="green"><%= flash[:update] %></font></p>
<% end %>
<% if flash[:destroy] %>
  <p><font color="blue"><%= flash[:destroy] %></font></p>
<% end %>
<% @tweets.each do |tweet| %>
  <p>
     <%= tweet.message %>
     <%= link_to 'show', "/tweets/#{tweet.id}" %>
     <%= link_to 'delete', "tweets/#{tweet.id}", method: :delete %>
     <%= link_to 'edit', "tweets/#{tweet.id}/edit" %>
     <% tweet.tdate = tweet.created_at %>
     <% t1 = tweet.tdate %>
     <% t2 = Time.current %>
     
     <% if (t2 - t1) <= 60 * 60 %>
       <%= ((t2 - t1) / 60).to_i.to_s %> 分前 
     <% elsif (t2 - t1) <= 60 * 60 * 24 %>
       <%= ((t2 - t1) / 3600).to_i.to_s %>時間前
     <% else %>
       <%= (t2.to_date - t1.to_date).to_i.to_s %>日前
     <% end %>

  </p>

<% end %> 

<p>
     <%= link_to 'new Tweet', 'tweets/new' %>    
</p>