
<h1>Twitter</h1>
<% if flash[:failed] %>
  <p><font color="red"><%= flash[:failed] %></font></p>
<% end %>
<%= form_for @tweet do |f| %>

 <%= f.text_area :message %>
 <%= f.submit 'tweet' %>
<% end %>